* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

.wrapper {
    background-color: rgb(255, 218, 224);
    height: 100%;
}

.inner-block {
    text-align: center;
    padding-top: 100px;

}

.search-input {
    height: 50px;
    width: 500px;
}

.list {
    text-align: center;

}